[submodule "vendor/vectornav"]
	path = vendor/vectornav
	url = https://github.com/dawonn/vectornav.git
	branch = ros2
[submodule "vendor/dvl-a50"]
	path = vendor/dvl-a50
	url = https://github.com/paagutie/dvl-a50
[submodule "vendor/dvl_msgs"]
	path = vendor/dvl_msgs
	url = https://github.com/paagutie/dvl_msgs
