name: Build Website Docs

on:
  push:
    branches: [ "main" ]

jobs:
  build_docs:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v4
        with:
          repository: palouserobosub/website
          event-type: build-docs
