---
name: Lint
on:
  pull_request: null
  
jobs:
  build:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v5
      - name: lint-cpp
        uses: jidicula/clang-format-action@v4.16.0
        with:
          clang-format-version: '16'
          check-path: 'src'
      - name: lint-python
        uses: benny123tw/action-ruff@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review # Change reporter.